* {-webkit-overflow-scrolling : touch; }
.event_area {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	&.start {
		position: relative;
	}
}

// .showcase-intro {
// 	$intro_time: 3s;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// 	background: #000;
// 	z-index: 9999;
// 	animation: intro-end 2s $intro_time ease-in-out both; 
// 	&__logo {
// 		position: fixed;
// 		top: 50%;
// 		left: 50%;
// 		width: 100%;
// 		display: flex;
// 		justify-content: center;
// 		transform: translate(-50%, -50%);
// 		z-index: 2;
// 		img {
// 			width: 69.444vw;
// 			animation: opacity $intro_time ease-in-out both; 
			
// 		}
	
// 	}
// }
.showcase-area {


	.showcase-scroll{
		font-size: 0;
		line-height: 0;
		height: 700vh;
		&-sticky {
			position: sticky;
			top:0;
			left:0;
			height: 100vh;
		}
		&__img {
			position: relative;
			&-bg {

			}
			.scroll_img {
				position: absolute;
				top:0;
				left:0;
				z-index: 1;
			}
			img {
				width:100%;
			}
		}
		.scroll_img-bg {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			img {
				position: relative;
				z-index: 2;
			}
			&::after {
				content:"";
				display: block;
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height: 100%;
				background: #000;
				opacity: .6;
			}
		}
	}


	.showcase-main-kv-video {
		position: relative;
		width: 100%;
		height: 100vh;
		z-index: -1;
		.opening {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			animation: opening-out .3s 4s both ease-in-out ;
			box-sizing: border-box;
			&::after {
				content: '';
				position: absolute;
				display: block;
				top:0;
				left:0;
				width:100%;
				height: 100%;
				background: #000;
				animation: opening-opacity .5s 3.5s both ease-in-out ;
			}
			.img01 {
				position: relative;
				z-index: 1;
				overflow: hidden;
				img {
					transform: translateY(110%);
					animation: opening-logo .5s 2.4s both ease-in-out ;
					padding-bottom:3vw;
				}
			}
			.text {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				height:12vw;
				line-height: 12vw;
				margin-bottom: 20vw;
				overflow: hidden;
				.box{
					text-align: center;
					animation: opening 1.8s infinite ;
				}
				span {
					display: block;
					font-size:15vw;
					font-weight: bold;
					color:#fff;
					line-height: 12vw;
				}
			}
			.bg-txt {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 90%;
				height:	95%;
				transform: translate(-50%,-50%);
				box-sizing: border-box;
				&:after {
					content:"";
					display: block;
					position: absolute;
					bottom: 2vw;
					left: 50%;
					width: 90%;
					height:	95%;
					transform: translate(-50%,0);
					height: 2px;
					width:20vw;
					background-color: #fff;
				}
				span {
					position: absolute;
					font-size: 5vw;
					color: #fff;
					&:nth-child(1) {
						top:0;
						left:0;
					}
					&:nth-child(2) {
						top:0;
						right:0;
					}
					&:nth-child(3) {
						bottom:0;
						left:0;
					}
					&:nth-child(4) {
						bottom:0;
						right:0;
					}
				}
			}
			img {
				width: 100%;
			}
		}
		&__box {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__logo {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 100%;
			display: flex;
			justify-content: center;
			transform: translate(-50%, -50%);
			z-index: 2;
			img {
				width: 69.444vw;
			}
		}
		&.active {
			&-logo {
				animation: show 1s ease-in-out both; 
			}

		}
	}
	.showcase-full-img {
		position: relative;
		&-logo {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			z-index: 2;
			img {
				width: 100%;
			}
		}
	}
	.showcase-benefit {
		border-bottom: 2px solid #000;
		display: flex;
		flex-direction: row;
		gap: 5.556vw;
		background: #171717;
		color: #fff;
		padding: 6.944vw 10.417vw;
		font-size: 3.611vw;
		&__title {
			width: 11vw;
		}
		&__desc {
			flex: 1;
		}
	
	}

	.showcase-profile {
		padding:0 0 20.833vw 0;
		background-color: #fff;
		&__box {
			display: flex;
			flex-direction: column;
			gap: 16.667vw;

			&-img {
				display: flex;
				flex-direction: column;
				gap: 16.667vw;
			}
			dl {
				display: flex;
				flex-direction: row;
				justify-content:space-between;
				padding: 0 7.222vw;
				&:nth-child(even) {
					dt {
						order: 1;
					} 
				}
			}
			dt {
				opacity: 0;	
				img {
					width: 37.222vw;
				}
			}
			dd {
				display: flex;
				flex-direction: column;
			}
			.txt01 {
				opacity: 0;
				font-size: 3.472vw;
				font-weight: bold;
				letter-spacing: -.7px;
			}
			.txt02 {
				opacity: 0;
				font-size: 4.167vw;
				padding: 7.917vw 0 5.417vw;
				line-height: 1.2;
				letter-spacing: -.7px;
			}
			.txt03 {
				opacity: 0;
				font-size: 3.472vw;
				color: #707070;
				font-weight: normal;
				line-height: 1.2;
				letter-spacing: -.7px;
			}
		}
		.active {
			$delay: 0s;
			.m-01 {
				animation: opacity .5s $delay ease-in-out both; 
			}
			.m-02 {
				animation: text .5s $delay + .3s  ease-in-out both; 
			}
			.m-03 {
				animation: text .5s $delay + .5s ease-in-out both; 
			}
			.m-04 {
				animation: text .5s $delay + .7s ease-in-out both; 
			}
			.m-05 {
				animation: opacity .5s $delay + 1s ease-in-out both; 
			}
			.m-06 {
				animation: text .5s $delay + 1.3s ease-in-out both; 
			}
			.m-07 {
				animation: text .5s $delay + 1.5s ease-in-out both; 
			}
			.m-08 {
				animation: text .5s $delay + 1.7s ease-in-out both; 
			}
		}
	}
	.showcase-free {
		background: #000;
		overflow: hidden;
		&__slider {
			opacity: 0;
			.swiper-wrapper {
				pointer-events: none;
				transition-timing-function: linear;
				.swiper-slide {
					width: auto;
					height: 400px;
				}
			}
			img {
				width: 100%;
			}
		}
		&.active {
			.showcase-free__slider {
				animation: slider 1s .3s both ease-out;	
			}
		}
	}
	.showcase-designer {
		background: #fff;
		padding-bottom: 20vw;
		&__img-box {
			font-size: 0;
			line-height: 0;

			img {
				width: 100%;
			}
			
		}
		&__silder {
			opacity: 0;
			.swiper-slide {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30.333vw;
				height: 97.917vw;
				margin-left: 10.167vw;
				counter-increment: num; 
				
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
				&:before { 
					position: absolute;
					left: 0;
					top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 5.556vw;
					height: 5.556vw;
					content: counter(num);
					background: #000;
					color: #fff;
					font-size:3.472vw;
				}
				&:nth-child(odd) {
					&::before {
						top: auto;
						bottom: 0;
					}
				}
			}
			&.active {
				animation: slider 1s both ease-out;
			}
		}
		.m-01 {
			opacity: 0;
		}
		.m-02 {
			opacity: 0;
		}
		.m-03 {
			opacity: 0;
		}
		.active {
			$delay: 0s;
			.m-01 {
				animation: text 1s $delay ease-in-out both; 
			}
			.m-02 {
				animation: text 1s $delay + .7s  ease-in-out both; 
			}
			.m-03 {
				animation: opacity 1s $delay  + 1s  ease-in-out both; 
			}
		}
		&.pick-type02 {
			background: #f7f7f7;
			.swiper-slide {
				width: 45.694vw;
				height: auto;
				margin-left: 10.167vw;
				counter-increment: num;
				align-items: flex-start;
				background: transparent;
				&:first-child {
					margin-left: 6.944vw;
				}
				&:nth-child(even) {
					padding-top: 18.056vw;
				}
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					
				}
				
				&::before {
					top: -5.556vw;;
				}
				&:nth-child(even) {
					&::before {
						top: auto;
						bottom: 0;
					}
				}
			}
			.active {
				$delay: 0s;
				.m-01 {
					animation: text 1s $delay ease-in-out both; 
				}
				.m-02 {
					animation: opacity 1s $delay + .3s  ease-in-out both; 
				}
			}
		}
		
	}
	.showcase-img {
		font-size: 0;
		line-height: 0;
		&__box {
			img {
				width: 100%;
			}
		}
		&--opacity {
			&.active {
				img {
					animation: opacity 1s both ease-in-out;
				}
			}
		}
	}

	.showcase-full-banner {
		position: relative;
		overflow: hidden;
		background: #fff;
		font-size: 0;
		line-height: 0;
		&__img {

			img {
				width: 100%;
			}
		}
		&__logo {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			transform: translate(1vw, 1vw);
			opacity: 0;
			img {
				width: 100%;
			}
		}
		&.showcase {
			.showcase-full-banner__img {
				opacity: 0;
			}
		}
		&.active {
			.showcase-full-banner__img {
				animation: scale 1s ease-out both;
			}
			.showcase-full-banner__logo {
				animation: opacity 1s .7s ease-out both;
			}
		}
	}

	.showcase-progressbar {
		background: #fff;
		padding: 0 0 9.583vw 0;
		font-size: 0;
		line-height: 0;
		opacity: 0;
		box-sizing: border-box;
		overflow: hidden;
		&__slider {
			overflow: hidden;
		}
		.swiper-wrapper {
			display: flex;
			flex-direction: row;
			gap: 1.389vw;
			transition-timing-function: linear;
			.swiper-slide {
				width:73.75vw;
			}
		}
		img {
			width: 100%;
		}
		.pagination_progress {
			width: 34.861vw;
			margin:6.944vw auto 0;
			position: relative;
			background-color: #d0d0d0;
			border: 0;
		}
		.swiper-pagination-progressbar-fill {
			background-color: #000;
			border: 0;
		}
		&.active {
			$delay : .3s;
			animation: slider 1s .3s both ease-out;
			.showcase-text-box__title {
				animation: text 1s $delay + .3s both ease-in-out;	
			}
			.showcase-text-box__desc {
				animation: text 1s $delay + .5s both ease-in-out;	
			}
		}
	}

	.showcase-progressbar-type02 {
		position: relative;
		background: #fff;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
		padding:16.667vw 0 18.056vw;
		&__bg {
			position: absolute;
			top: 0;
			img {
				width:100%;
			}
		}
		&__slider {
			.swiper-wrapper {
				height: auto;
				.swiper-slide {
					width: 51.667vw;
					&:nth-child(odd) {
						margin-left: 6.389vw;
					}
					&:nth-child(even) {
						margin: 35.417vw 0 0 -5.833vw;
						width:  42.639vw;
					}
				}
				img {
					width: 100%;
					height: auto;
				}
			}
			
		}
		
		.pagination_progress {
			width: 34.861vw;
			margin:6.944vw auto 0;
			position: relative;
			background-color: #646263;
			border: 0;
		}
		.swiper-pagination-progressbar-fill {
			background-color: #fff;
			border: 0;
		}
		
	}

	.showcase-timer {
		background: #000;
		padding: 44.722vw 11.111vw 40vw;
		&__content {
			&-txt {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 4.722vw;
				.dot {
					display: block;
					padding:0 2.5vw;
					font-size:3.4vw;
				}
			}
			&-time {
				max-width: 70vw;
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				color: #fff;
				margin: 6.667vw auto 24.306vw;
				font-size: 15.278vw;
				letter-spacing: 1px;
				span {
					display: block;
					justify-content: center;
					&:nth-child(odd){
						text-align: center;
						width: 100%;
					}
				}
				
				&:after {
					content: "";
					position: absolute;
					display: block;
					top:50%;
					width:100%;
					height: 0.833vw;
					// background: #000;
					transform: translateY(-50%);
				}
			}
			&-dot {
				transform: translateY(-1vw);
			}
			&-btn {
				button {
					width: 100%;
					height: 12.5vw;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 3.472vw;
					background: #fff;
					color: #000;
					border-radius: 10px;
					font-weight: bold;
				}
			}
		
		}
	}

	.showcase-benefit-event {
		position: relative;
		z-index: 2;
		background: #000;
		padding: 16.667vw 0;
		overflow: hidden;
		&__slider {
			position: relative;
		}
		.swiper-slide {
			background: #000;
			width: 69.444vw;
			margin-left: 2.778vw;
			&:first-child {
				margin-left: 15.556vw;
			}
			&:last-child {
				margin-right: 15.556vw;
			}
		}
		.pagination_progress {
			position: absolute;
			top: 99.861vw;
			left: 50%;
			transform: translateX(-50%);
			width: 34.861vw;
			background-color: #636363;
			border: 0;
		}
		.swiper-pagination-progressbar-fill {
			background-color: #fff;
			border: 0;
		}
		&.active {
			.swiper-wrapper {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	.showcase-fade-in {
		&__img-box {
			&-list {
				&:not(:first-child) {
					position: absolute;
					top:0;
					left:0;
					visibility: hidden;
				}
				img {
					width: 100%;
				}
			}
		}
	}
	.showcase-style-gallery {
		position: relative;
		background: url('../images/style_gallery_bg.jpg') center center no-repeat;
		background-size: cover;
		&__img-box {
			ul {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: flex-start;
				justify-content: center;
				z-index: 2;
				padding: 15.833vw 0 17.361vw;
			}
			li {
				opacity: 0;
				img {
					width:100%;
				}
			}
			li:nth-child(1) {
				display: block;
				width: 73.611vw;
				
			}
			li:nth-child(2) {
				display: block;
				width: 44.167vw;
				margin-top: 4.444vw;
			}
			li:nth-child(3) {
				display: block;
				width: 44.028vw;
				margin-top: 21.389vw;
				margin-left: 1.528vw;
			}
		}
		&__txt {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			img {
				width:100%;
			}
		}
		&.active {
			.showcase-style-gallery__img-box {
				$delay : .3s;
				li {
					animation: show-y10 1s ease-in-out both; 
				
				}
				li:nth-child(1) {
					animation-delay: $delay;
				}
				li:nth-child(2) {
					animation-delay: $delay + .3s;
				}
				li:nth-child(3) {
					animation-delay: $delay + .5s;
				}
			}
		}
	}
	.showcase-full-video {
		font-size: 0;
		line-height: 0;
		position: relative;
		&__logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			img {
				width: 64.722vw;
			}
		}
		// &.active {
		// 	.showcase-full-video__logo {
		// 		animation: opacity 1s 1s both ease-out;
		// 	}
		// }
	}
	.showcase-text-box {
		background: #fff;
		padding:9.722vw 6.944vw 16.667vw;
		&__title {
			font-size: 5.556vw;
			padding-bottom: 3.889vw;
			line-height: 1;
			font-weight: bold;
			opacity: 0;
		}
		&__desc {
			font-size: 3.333vw;
			line-height: 1.33;
			font-weight: 300;
			opacity: 0;
		}
		&.showcase {
			&.active{
				$delay : 0s;
				.showcase-text-box__title {
					animation: text 1s $delay + .3s both ease-in-out;	
				}
				.showcase-text-box__desc {
					animation: text 1s $delay + .5s both ease-in-out;	
				}
			}
		}
	}
	.m-showcase-text {
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		img {
			width: 100%;
		}
		&.showcase {
			img {
				opacity: 0;
			}
		}
		&.active {
			img {
				animation: show-y10 1s both ease-in-out;
			}
		}
		&--delay {
			&.active {
				img {
					animation-delay: .5s;
				}
			}
		}
	}
	.m-showcase-img {
		&--opacity {
			&.active {
				animation: opacity 1s 1s both ease-in-out;
			}
		}
	}

	.showcase-new-item {
		font-size: 0;
		line-height: 0;
		background-color: #fff;
	}
	.showcase-new-item-type01 {
		position: relative;
		&__img {
			width: 73.611vw;
		}
		&__item-list {
			top:0;
			position: absolute;
			width: 100%;
			li {
				position: absolute;
				opacity: 0;
				
				&:nth-child(1) {
					width: 27.778vw;
					right: 16vw;
					top: -9vw;
					a {
						top: 2vw;
						right: 5vw;
					}
				}
				&:nth-child(2) {
					width: 21.778vw;
					right: 3vw;
					top: 6vw;
					a {
						bottom: 16vw;
						right: 0vw;
					}
				}
				
			}
		}
		img {width: 100%;}
		&.active {
			$delay:.7s;
			li {
				opacity: 0;
				&:nth-child(1) {
					animation: show-y10 1s both ease-in-out;
				}
				&:nth-child(2) {
					animation: show-y10 1s $delay both ease-in-out;	
				}
			}
			.showcase-text-box__title {
				animation: text 1s $delay + .3s both ease-in-out;	
			}
			.showcase-text-box__desc {
				animation: text 1s $delay + .5s both ease-in-out;	
			}
		}
	}
	.showcase-new-item-type02 {
		ul {
			display: flex;
			flex-flow: row wrap;
			gap: 1.25vw;
			align-items: center;
			justify-content: center;
			li {
				opacity: 0;

				&:nth-child(1) {
					width: 47.222vw;
				}
				&:nth-child(2) {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 4.722vw;
					width: 38.889vw;
					img:nth-child(2) {
						width: 28.889vw;
					}
				}
				&:nth-child(3) {
					width: 38.889vw;
				}
				img {
					width: 100%;
				}
			}
		}
		&.active {
			$delay : .3s;
			li {
				&:nth-child(1) {
					animation: show-y10 1s both ease-in-out;
				}
				&:nth-child(2) {
					animation: show-y10 1s $delay both ease-in-out;	
				}
			}
			.showcase-text-box__title {
				animation: text 1s $delay + .3s both ease-in-out;	
			}
			.showcase-text-box__desc {
				animation: text 1s $delay + .5s both ease-in-out;	
			}
		}
	}
	.showcase-new-item-type03 {
		&__img-box {
			overflow: hidden;
			position: relative;
			width: 86.111vw;
			margin: 0 auto;
			a {
				bottom:0;
				left:0;
				z-index: 1;
			}
		}
	}
	.showcase-new-item-type04 {
		overflow: hidden;
		position: relative;
		padding: 12.5vw 8.75vw;
		a {
			bottom:0;
			left:0;
			z-index: 1;
		}
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		li {
			&:nth-child(1) {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: 40.278vw;
				img {
					&:nth-child(2) {
						margin-top:  5.556vw;
						width: 34.722vw;
					}
				}
			}
			&:nth-child(2) {
				width: 37.5vw;
				
			}
			img {
				opacity: 0;
				width: 100%;
			}
		}
		img {
			width: 100%;
			opacity: 0;

		}
		&.active {
			$delay: .3s;
			.img01 {
				animation: show-y10 1s $delay both ease-out;
			}
			.img02 {
				animation: show-y10 1s $delay + .3s both ease-out;
			}
			.img03 {
				animation: show-y10 1s $delay + .5s both ease-out;

			}
		}
	}
	.showcase-new-item-type05 {
		position: relative;
		margin: 16.667vw 0 0 0;
		ul {
			width: 100%;
		}
		li {

			&:nth-child(1) {
				width: 100%;
				text-align: right;
				img {
					width: 73.333vw;
				}
			}
			&:nth-child(2) {
				position: absolute;
				top: 14.444vw;
				left: 3.75vw;
				width: 27.5vw;
				z-index: 1;
				opacity: 0;

				a {
					bottom: 6.944vw;
					right: -2vw;
				}
				img {
					width: 100%;
				}
				
			}
		}
		&.active {
			$delay:.3s;
			li {
				&:nth-child(2) {
					animation: show-y10 1s $delay both ease-in-out;	
				}
			}
			.showcase-text-box__title {
				animation: text 1s $delay + .3s both ease-in-out;	
			}
			.showcase-text-box__desc {
				animation: text 1s $delay + .5s both ease-in-out;	
			}
		}
	}
	.showcase-new-item-type06 {
		padding: 0 6.944vw 16.667vw;
		ul {
			display: flex;
			flex-flow: row wrap;
		}
		li {
			width: 50%;
			opacity: 0;

		}
		img {
			
			width: 100%;
		}
		&.active {
			$delay: .5s;
			li {
				position: relative;
				&:nth-child(1) {
					animation: opacity 1s $delay both ease-out;
				}
				&:nth-child(2) {
					animation: opacity 1s $delay + .2s both ease-out;
					a {
						right: 0;
						bottom: 0;
					}
				}
				&:nth-child(3) {
					animation: opacity 1s $delay + .3s both ease-out;
					a {
						left: 0;
						bottom: 0;
					}
				}
				&:nth-child(4) {
					animation: opacity 1s $delay + .6s both ease-out;
				}
				&:nth-child(5) {
					animation: opacity 1s $delay + .7s both ease-out;
				}
				&:nth-child(6) {
					animation: opacity 1s $delay + .8s both ease-out;
					a {
						right: 0;
						bottom: 0;
					}
				}
			}
		}
	}
	.showcase-new-item-type07 {
		padding: 0 6.944vw 16.667vw;
		ul {
			display: flex;
			flex-flow: row wrap;
		}
		li {
			width: 50%;
			opacity: 0;

		}
		img {
			
			width: 100%;
		}
		&.active {
			$delay: .3s;
			li {
				&:nth-child(1) {
					animation: show-y10 1s $delay both ease-out;
				}
				&:nth-child(2) {
					animation: show-y10 1s $delay + .2s both ease-out;
				}
			}
		}
	}
	.plus-button {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5.556vw;
		height: 5.556vw;
		background: #000;
		color: #fff;

		&:before,&:after{ 
			position:absolute;
			top: 50%;
			left: 50%;
			background: #fff;
			content: '';
		}
		&:before{ 
			width: 2.778vw;
			height: 0.278vw;
			margin: -0.139vw 0 0 -1.389vw;
		}
		&:after{ 
			width: 0.278vw;
			height: 2.778vw;
			margin: -1.389vw 0 0 -0.139vw;

		}
	}
	.bgf7 {
		background: #f7f7f7;
	}

	.active {
		p
		.delay {
			animation-delay: 1s;
		}
	}
}

.mouse {
    border: 0.278vw solid #fff;
    border-radius: 3vw;
    bottom: 7.556vw;
    display: block;
    height: 9vw;
    left: 50%;
    margin: 0 auto 0 -4.611vw;
    position: absolute;
    width: 6vw;
	animation: opacity 1s 4s both;
}
.mouse span {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid transparent;
    border-radius: 1vw;
    display: block;
    height: 0.9vw;
    margin: 0.9vw auto;
    width: 0.9vw;
}
@keyframes scroll {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(2vw);
}
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes intro-end {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		display: none;
	}
}


@keyframes show-y10 {
	from {
		opacity: 0;
		transform: translateY(10%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes text {
	from {
		opacity: 0;
		transform: translateY(10vw);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}


@keyframes slider {
	from {
		opacity: 0;
		transform: translateX(10%);
	}

	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes  scale{
	from {
		opacity: 0;
		transform: scale(1.1);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes opening-logo{
	from {
		transform: translateY(110%);
	}

	to {
		transform: translateY(0);
	}
}
@keyframes opening{
	0% {
		transform: translateY(-12vw);
	}
	35% {
		transform: translateY(-8vw);
	}
	70% {
		transform: translateY(-27vw);
	}
	100% {
		transform: translateY(-24vw);
	}

}

@keyframes opening-out{
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes opening-opacity{
	from {
		opacity: .6;
	}

	to {
		opacity: 0;
	}
}